* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #B3CCCC;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background: #333;
  padding: 1rem 0;
}

header h1 {
  width: 80%;
  margin: auto;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
}

section {
  width: 80%;
  margin: 1rem auto;
  font-size: 1.25rem;
}

section ul {
  list-style: none;
}

section li {
  padding: .15rem 0;
}

section a {
  text-decoration: none;
  color: #333;
}